<footer >




<h1><a href="https://www.linkedin.com/in/jerrychaitea"><i class="step fi-social-linkedin size-48"></i></a></h1>
<h1><a href="https://github.com/jchai002"><i class="step fi-social-github size-48"></i></a></h1>
<h1><a href="https://twitter.com/JerryChaiTea"><i class="step fi-social-twitter size-48"></i></a></h1>
<h1><a href="https://www.facebook.com/jerbearrr"><i class="step fi-social-facebook size-48"></i></a></h1>
</div>
</div>


</footer>