<nav class="top-bar hide-for-small banner" data-topbar>
          <ul class="title-area">
            <li class="name">
              <a href="/"><%=image_tag('logo.png', class: 'logo')%></a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
             
          <section class="top-bar-section hide-for-small">
             
            <ul class="right">
              <li><a href="/musics"><h3>Music</h3></a></li>
             
              <li><a href="/pictures"><h3>Pictures</h3></a></li>
             
              <li><a href="/videos"><h3>Videos</h3></a></li>
             
              <li><a href="/"><h3>Lyrics</h3></a></li>

              <li><a href="/"><h3>Events</h3></a></li>
         
            </ul>
          </section>
        </nav>


        <div class="row">
      <div class="large-12">
        <div class="banner-clear hide-for-small"></div>
      </div>

  <div class="icon-bar show-for-small">
  <a class="item" id="stills-button-mobile">
    <i class="step fi-camera size-48"></i>
    <label>Stills</label>
  </a>
  <a class="item" id="videos-button-mobile">
    <i class="step fi-video size-48"></i>
    <label>Motion</label>
  </a>
  <a class="item" id="about-button-mobile">
    <i class="step fi-results-demographics size-48"></i>
    <label>About</label>
  </a>
  <a class="item" id="contact-button-mobile">
    <i class="step fi-address-book size-48"></i>
    <label>Contact</label>
  </a>
</div>
    </div>