.home-container {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  margin:10%;
  width:80%;
}

.navigation ul {
    list-style-type:none;
    height:30px;
    text-align:left;
    width: 100%;      /* new */
    display: table;   /* updated */
}

.navigation ul li {       
    font-size: 25pt;
    display: table-cell;  /* updated */  
}

.mobile-nav {
  position:relative;
  top:1.5em;
  font-size: 20pt;
  color:white;
}


.banner-home {
  height:90px;
  width:100%;
}

.home-text {
  color: white;
}