.home-container {
  padding:2em;
  background-color: transparent;
  margin-bottom:5em;
}

.title-full {
  position: relative;
  top:-150px;
  font-family: "Pacifico";
  font-size: 150pt;
  color:white;
}

.title-mobile {
  position: relative;
  top:140px;
  font-family: "Pacifico";
  font-size: 40pt;
  color:white;
}


.home {
  left: 0;
  right: 0;
  z-index: 0;
  background-color: black;
}