<footer >


<h1><a href="https://www.facebook.com/EdelweissOfficial?fref=ts"><i class="step fi-social-facebook size-48"></i></a></h1>
<h1><a href="https://twitter.com/Edelweisspa"><i class="step fi-social-twitter size-48"></i></a></h1>
<h1><a href="https://instagram.com/edelweissedelweiss"><i class="step fi-social-instagram size-48"></i></a></h1>


</div>
</div>


</footer>